.home {
  display: flex;
  .homeContainer {
    flex: 6;
    font-size: 2rem;
    .widgets,
    .charts {
      display: flex;
      font-size: 4rem;
      padding: 2rem;
      gap: 2rem;
    }

    .charts {
      padding: 0.5rem 2rem;
      font-size: 2.5rem;
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 2rem;
      margin: 2rem;

      .listTitle {
        font-weight: 500;
        color: grey;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
      }
    }
  }
}
